body{
    background-image: url('./images/background1.jpg');
}

.navbar{
    background-color: #ffffaa;
}

.navbar-brand{
    font-family: 'Square Peg', cursive;
    font-size: 25px;
}

.title1{
    color: #ffff;
    font-family: 'Square Peg', cursive;
    text-align: center;
    font-size: 60px;
}

.title2{
    color: #ffff;
    font-family: 'Square Peg', cursive;
    text-align: center;
    font-size: 60px;
}

.noteCard{
    background-color: #ffffc1;
    border-radius: 20px;
}

.card-title{
    text-align: center;
    font-family: 'Square Peg', cursive;
    font-size: 50px;
}

.textFooter{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bi-github {
    color: #ffffff;
    font-size: 50px;
    transition: transform 0.3s ease-in-out;
}

.bi-github:hover {
    transform: rotate(360deg) scale(1.2);
}